@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Noto+Sans:wght@100&family=PT+Sans+Narrow&display=swap');

body {
    background-color: rgb(232, 237, 241);
}

/* Navbar */
.nav-link {
    font-family: 'League Spartan', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'PT Sans Narrow', sans-serif;

    font-size: 25px;
    color: rgb(252, 102, 64) !important;
    margin: 10px
}

.nav-link:hover {
    margin-top: 5px;
    border-bottom: 5px solid;
}

.loginbtn {
    font-family: 'League Spartan', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'PT Sans Narrow', sans-serif;

    font-size: 25px;
    color: rgb(252, 102, 64) !important;
    font-size: 20px;
    width: 150px;
}

.loginbtn:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(24, 18, 16)
}

.regbtn {
    font-family: 'League Spartan', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'PT Sans Narrow', sans-serif;

    font-size: 25px;
    color: rgb(252, 102, 64) !important;
    font-size: 20px;
    width: 150px;
}

.regbtn:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(24, 18, 16)
}

.service-title {
    font-size: 60px;
    font-weight: 800;
    font-family: cursive;
}

.mid-text {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.about-text {
    text-align: justify;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

input[type=number] {
    -moz-appearance: textfield;

}



/* Footer */

.site-footer {
    background-color: #f8f9fa;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: rgb(252, 102, 64);
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
    font-size: 20px;
}

.contact {
    font-size: 20px;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
}



.footer-links.inline li {
    display: inline-block
}


.copyright-text {
    margin: 0
}